html {
    box-sizing: border-box;
    min-width: 375px;
    max-width: 1440px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;;
    font-size: 15px;
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
}

.main-banner {
    background-image: url(images/bg-top-1.png), url(images/bg-bottom-1.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: right top, left bottom;
    background-color: #F7F7FF;
    max-width: 1440px;
}

header h2 {
    color: #6E728C;
    text-align: center;
    padding-top: 55px;
    font-size: 28px;
}

.state-btn {
    width: 50px;
    background: #9C9FEE;
    height: 28px;
    position: relative;
    border-radius: 20px;
    margin: 0 25px;
}

.state-btn:hover {
    opacity: 0.5;
}

/*
.state-btn-1:hover {
    transform: translateX(-22px);
}
*/

.state-btn-1 {
    width: 21px;
    height: 21px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 25px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}

.state-btn-2 {
    width: 21px;
    height: 21px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 25px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}

.sub-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.sub-banner span {
    color: #B9BBC7;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.box-left {
    width: 320px;
    background: #FFFFFF;
    border-radius: 10px 0 0 10px;
    text-align: center;
    color: #73758E;
    padding-bottom: 30px;
    box-shadow: -1px -1px 7px 0px #B9BBC7;
    height: 390px;
    max-height: 390px;
}

.title {
    padding-top: 25px;
}

ul {
    width: 270px;
    margin: 0 auto;
}

ul li {
    list-style: none;
    border-bottom: 1px solid #DADADA;
    line-height: 50px
}

.for-li {
    border-top: 1px solid #DADADA;
}

.dollar {
    font-size: 30px;
    padding-right: 8px;
}

.p-value {
    font-size: 50px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #484B5E;
}

.for-btn {
    width: 270px;
    margin: 0 auto;
    background: #6F73DE;
    border-radius: 8px;
    padding: 14px 0;
    font-size: 13px;
    margin-top: 30px;
}

.for-btn:hover {
    background: #FFFFFF;
    color: #6E72DE;
    border: 1px solid #6E72DE;
}

.for-btn a {
    text-decoration: none;
    color: #F8FCFF;
    padding: 0 
}

.for-btn a:hover {
    color: #6E72DE;
}


.box-middle {
    width: 320px;
    background: #9C9FEE;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
    height: 436px;
    max-height: 436px;
}

.title-pro {
    padding-top: 50px;
}


.price-middle {
    color: #FFFFFF;
}

.for-btn-middle a {
    text-decoration: none;
    background: #FFFFFF;
    color: #6F73DE;
    padding: 15px 89px;
    font-size: 13px;
    border-radius: 10px;
}

.for-btn-middle a:hover {
    background: #7378E0;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.box-right {
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 1px 7px 0px #B9BBC7;
}

.for-btn-1 a {
    text-decoration: none;
    background: #6F73DE;
    color: #F8FCFF;
    padding: 15px 89px;
    font-size: 13px;
    border-radius: 10px;
}

.for-btn-1 a:hover {
    background: #FFFFFF;
    color: #6F73DE;
    border: 1px solid #6F73DE;
}

.for-ul {
    padding-bottom: 40px;
}

.attribution { font-size: 11px; text-align: center; padding-bottom: 30px; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}

@media only screen and (max-width: 960px) {
    .boxes {
        flex-direction: column;
        padding-top: 83px;
    }
    .box-middle {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .box-left, box-right {
        border-radius: 10px;
    }
    .main-banner {
    background-position: right -13rem top, -50rem;
    }
    header h2 {
        padding-top: 85px;
    }
    .sub-banner {
        margin-top: 50px;
    }
}